<header>
    <div class="header">
        <%= image_tag "logoKot&cour3" , height: 150 %>
    </div>

    <div id="navbar">
        <a class="active" href="javascript:void(0)">Home</a>
        <a href="javascript:void(0)">News</a>
        <a href="javascript:void(0)">Contact</a>
    </div>
</header>


<div class="content">

</div>